body{
    background-color: #FFAA00;
    font-family: "Inter", sans-serif;
}

.icon-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: 1fr;
    width:50%;
    margin: 0 auto;
    padding: 10px;
}